<div class="flex flex-col">
  <div class="my-6 overflow-x-auto sm:-mx-2 lg:-mx-4">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class=" overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
          <tr>
            <% if @data.klass == Ticket %>
              <th scope="col"
                  class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Member Code
              </th>
              <th scope="col"
                  class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Ticket
              </th>
              <th scope="col"
                  class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Type
              </th>
              <th scope="col"
                  class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Priority
              </th>
            <% end %>
            <% @data.first.attributes.keys.each do |key| %>
              <% unless key == 'user_id' || key == 'id'  || key == 'updated_at' || key == 'ticket' || key == 'code_id' %>
              <th scope="col"
                  class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                <%= key %>
              </th>
                <% end %>
            <% end %>
            <% if @links %>
              <th scope="col"
                  class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >

              </th>
              <th scope="col"
                  class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >

              </th>
            <% end %>
          </tr>
          </thead>
          <tbody class=" ">
          <% if @data.klass == Ticket %>
            <%= content %>
          <% else %>
            <% @data.each do |data| %>
              <tr class="<%= cycle('bg-white', 'bg-gray-50') %> hover:bg-gray-200">
                <% data.attributes.each do |key, value| %>
                  <% unless key == 'user_id' || key == 'id' || key == 'updated_at' || key == 'ticket' || key == 'code_id' %>
                  <td class="p-2 m-4 whitespace-nowrap text-sm ">
                    <%= value  %>
                  </td>
                    <% end %>
                <% end %>
                <% if @links %>
                  <td class="text-gray-600 hover:underline text-sm font-bold">
                    <%= link_to 'View Details', data %>
                  </td>
                  <td class="text-red-600 hover:underline text-sm font-bold">
                    <%= link_to 'Delete', data, method: :delete %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
