<%= render(CardComponent.new(
  title: "All",
  header: "Tickets",
  width: "w-full mb-12 xl:mb-0 px-4")) do %>
  <p id="notice"><%= notice %></p>

  <%= turbo_stream_from "tickets" %>
  <%= render(TableComponent.new(
    data: @tickets)) do %>
    <tbody id="tickets">
    <%= render @tickets %>
    </tbody>
  <% end %>


<% end %>
