<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @code.code %>
</p>

<p>
  <strong>User:</strong>
  <%= @code.user_id %>
</p>

<p>
  <strong>Webhook:</strong>
  <%= @code.webhook %>
</p>

<p>
  <strong>Forward address:</strong>
  <%= @code.forward_address %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
