<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GuardedDepths</title>
    <meta name="description" content="A Simple Ticket Management Console">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
  <%= render(SidebarComponent.new(signed_in: current_user.present?, user: (current_user.present? ? current_user.email : ''))) %>
  <div class="<%= current_user.present? ? 'relative md:ml-64 bg-gray-200' : '' %>" >
    <div class="<%= current_user.present? ? 'pt-20 px-4 md:px-10 mx-auto w-full' : '' %>">
      <div class="<%= current_user.present? ? 'flex flex-wrap' : '' %>">
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="<%= current_user.present? ? 'relative md:ml-64' : '' %>">
    <%= render(FooterComponent.new(signed_in: current_user.present?)) %>
  </div>
  </body>
</html>
